<?xml version="1.0"?>
<LocalizationLanguageEditorConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <languageLocalizationExcelFilePath>Assets/StreamingAssets/LanguageLocalizatons/[ProjectRoot%EditorConfigs%01.config]language_localization_excel.xlsx</languageLocalizationExcelFilePath>
  <gameObjectPathsInProject>
    <string>Assets/TestFiles/Prefabs/@gaming_page.prefab</string>
    <string>Assets/TestFiles/Prefabs/@input_modify_page.prefab</string>
    <string>Assets/TestFiles/Prefabs/@other_page.prefab</string>
    <string>Assets/TestFiles/Prefabs/@ui_comp_page.prefab</string>
  </gameObjectPathsInProject>
  <languageList>
    <string>Chinese</string>
    <string>Janpanese</string>
  </languageList>
</LocalizationLanguageEditorConfig>